#insi-button:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
}
#insi-button {
	padding: 1rem 1.5rem;
	margin-left: 1rem !important;
	border-radius: 2rem;
	border: none;
	font-family: "YouTube Sans", "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
}
