#w2gBuddne:hover {
    cursor: pointer;
    background-color: rgb(200,200,200);
}
#w2gBuddne {
    padding: 1rem 1.5rem;
    margin-left: 0.8rem;
    border-radius: 2rem;
    border: none;
    font-family: "YouTube Sans","Roboto",sans-serif;
    font-size: 14px;
    font-weight: 500;
}